$breakpoints: (
  'xs-phone': 320px,
  'phone': 480px,
  'tablet': 768px,
  'desktop': 1024px,
  'widescreen': 1200px
);

// keywords
$media-expressions: (
  'screen': 'screen',
  'print': 'print',
  'handheld': 'handheld',
  'landscape': '(orientation: landscape)',
  'portrait': '(orientation: portrait)',
  'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
  'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
);

// ligatured operators ≥ ≤

@import 'vendors/include-media';

@import "bootstrap-custom";
@import "vendors/bootstrap/variables";
@import "vendors/bootstrap/mixins";

@import 'base/mixins';
@import 'base/helpers';

@font-face{
	font-family: "Oswald";
	src: url("../fonts/Oswal/Oswald.eot");
	src: url("../fonts/Oswald/Oswald.eot?#iefix")format("embedded-opentype"),
	url("../fonts/Oswald/Oswald.woff") format("woff"),
	url("../fonts/Oswald/Oswald.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face{
	font-family: "OswaldLight";
	src: url("../fonts/OswaldLight/Oswald-Light.eot");
	src: url("../fonts/OswaldLight/Oswald-Light.eot?#iefix")format("embedded-opentype"),
	url("../fonts/OswaldLight/Oswald-Light.woff") format("woff"),
	url("../fonts/OswaldLight/Oswald-Light.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face{
	font-family: "OswaldBold";
	src: url("../fonts/OswaldBold/Oswald-Bold.eot");
	src: url("../fonts/OswaldBold/Oswald-Bold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/OswaldBold/Oswald-Bold.woff") format("woff"),
	url("../fonts/OswaldBold/Oswald-Bold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face{
	font-family: "PTSerifItalic";
	src: url("../fonts/PTSerifItalic/PTSerifItalic.eot");
	src: url("../fonts/PTSerifItalic/PTSerifItalic.eot?#iefix")format("embedded-opentype"),
	url("../fonts/PTSerifItalic/PTSerifItalic.woff") format("woff"),
	url("../fonts/PTSerifItalic/PTSerifItalic.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face{
	font-family: "PTSerifRegular";
	src: url("../fonts/PTSerifRegular/PTSerifRegular.eot");
	src: url("../fonts/PTSerifRegular/PTSerifRegular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/PTSerifRegular/PTSerifRegular.woff") format("woff"),
	url("../fonts/PTSerifRegular/PTSerifRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

.col-xs-1,.col-sm-1,.col-md-1,.col-lg-1
.col-xs-2,.col-sm-2,.col-md-2,.col-lg-2,
.col-xs-3,.col-sm-3,.col-md-3,.col-lg-3,
.col-xs-4,.col-sm-4,.col-md-4,.col-lg-4,
.col-xs-5,.col-sm-5,.col-md-5,.col-lg-5,
.col-xs-6,.col-sm-6,.col-md-6,.col-lg-6,
.col-xs-7,.col-sm-7,.col-md-7,.col-lg-7,
.col-xs-8,.col-sm-8,.col-md-8,.col-lg-8,
.col-xs-9,.col-sm-9,.col-md-9,.col-lg-9,
.col-xs-10,.col-sm-10,.col-md-10,.col-lg-10,
.col-xs-11,.col-sm-11,.col-md-11,.col-lg-11,
.col-xs-12,.col-sm-12,.col-md-12,.col-lg-12{
	padding-left: 10px;
	padding-right: 10px;
}
.row{
	margin-left: -10px;
	margin-right: -10px;
}
.container-fluid{
	padding-left: 0;
	padding-right: 0;
}
.container{
	padding-left: 10px;
	padding-right: 10px;
	// outline: 1px solid red;
}
#wrapper{
	min-width: 320px;
	color: #282828;
	a{
		text-decoration: none;
	}
}
.holder{
	padding-top: 31px;
	padding-bottom: 32px;
	.logo{
		font-size: 48px;
		margin-left: -1px;
		line-height: 42px;
		font-family: OswaldBold, sans-serif;
		a{
			color: #eb3c00;
			&:hover{
				text-shadow: 1px 2px 5px #000;
			}
		}
	}
	em{
		@include opacity(0.5);
		margin-left: 3px;
		font: 18px PTSerifItalic, serif;
	}
	.authorization{
		float: right;
		a{
			font: 13px PTSerifItalic, serif;
		}
		.login{
			color: #282828;
			&:hover{
				text-shadow: 1px 2px 5px #000;
			}
		}
		.fa{
			margin-right: 9px;
			color: #e40;
			font-size: 14px;
		}
		.contact{
			color: #fff;
			margin-left: 30px;
			display: inline-block;
			background-color: #e40;
			border: 1px solid #e40;
			padding: 12px 54px 13px;
			&:hover{
				background: #161828;
				border: 1px solid #e40;
				color: #ea5b58;
			}
		}
	}
}
#nav{
	background: #282828;
	.navbar{
		border: none;
		background: none;
		margin-bottom: 0;
		.collapse{
			padding: 0;
		}
		a{
			color: #fff;
			font-size: 18px;
			letter-spacing: 0.05em;
			padding: 25px 16px 27px;
			font-family: Oswald, sans-serif;
		}
		a:hover,
		.active{
			background: #eb3c00;
		}
	}
}
.serch-form{
	padding-top: 15px;
	fieldset{
		position: relative;
	}
	.form-group{
		width: 100%;
	}
	input{
		width: 100%;
		height: 40px;
		font-size: 14px;
		padding: 3px 45px 0 9px;
		color: rgba(40,40,40,0.5);
		&:-moz-placeholder{
			@include opacity(0.2);
			color: #282828;
			font-size: 14px;
			text-transform: uppercase;
			font-family: Oswald, sans-serif;
		}
		&::-moz-placeholder{
			@include opacity(0.2);
			color: #282828;
			font-size: 14px;
			text-transform: uppercase;
			font-family: Oswald, sans-serif;
		}
		&:-ms-input-placeholder{
			@include opacity(0.2);
			color: #282828;
			font-size: 14px;
			text-transform: uppercase;
			font-family: Oswald, sans-serif;
		}
		&::-webkit-input-placeholder{
			@include opacity(0.2);
			color: #282828;
			font-size: 14px;
			text-transform: uppercase;
			font-family: Oswald, sans-serif;
		}
	}
	button{
		top: 0px;
		padding: 0;
		right: 0px;
		width: 40px;
		height: 40px;
		border-width: 0;
		font-size: 18px;
		background: none;
		position: absolute;
		&:hover{
			background: #cbcaca;
			color: #eb3c00;
		}
	}
}
.content{
	padding-top: 50px;
	padding-bottom: 25px;
	h1{
		margin: 0 0 40px -1px;
		font-size: 48px;
		line-height: 60px;
		word-spacing: 1px;
		font-family: Oswald, sans-serif;
	}
	p{
		margin-left: -2px;
		margin-bottom: 0;
		font-size: 24px;
		line-height: 36px;
		font-family: PTSerifRegular, serif;
	}
}
.key{
	padding-top: 11px;
	padding-bottom: 20px;
	font-family: PTSerifRegular, serif;
	h4{
		margin: 0;
		word-spacing: 2px;
		padding: 0 0 14px 10px;
	}
	ul{
		margin-bottom: 0;
		padding-left: 28px;
	}
	li{
		font-size: 18px;
		line-height: 27px;
	}
}
.news{
	padding-top: 42px;
	font-family: Oswald, sans-serif;
	.row{
		padding: 0 10px;
	}
	h5{
		color: #eb3c00;
		margin: 0 0 22px -1px;
	}
	ul{
		margin-right: -10px;
		margin-left: -10px;
	}
	li{
		padding-left: 10px;
		padding-right: 10px;
		margin-bottom: 40px;
	}
	img{
		margin-bottom: 7px;
	}
	figcaption{
		font-size: 18px;
		padding-right: 7px;
		line-height: 20px;
		font-family: OswaldLight, sans-serif;
	}
}
#footer{
	padding: 90px 15px 80px;
	a{
		position: absolute;
		float: right;
		color: #282828;
		right: 2%;
		@include opacity(0.4);
		font-family: OswaldLight, sans-serif;
		&:hover{
			color: #eb3c00;
			@include opacity(1);
		}
	}
}
@media (min-width: 1200px){
	.container {
		width: 1152px;
	}
}
@media screen and (max-width: 991px){
	.news{
		img{
			margin-left: auto;
			margin-right: auto;
		}
		figcaption{
			padding-right: 0;
			text-align: center;
		}
	}
	.content{
		p{
			margin-left: 0;
		}
	}
	.key{
		h4{
			padding-left: 10px;
			padding-right: 10px;
		}
	}
	.news{
		h5{
			margin-left: 0;
		}
	}
}
@media screen and (max-width: 767px){
	.holder{
		text-align: center;
		padding-bottom: 0;
		.col-xs-12{
			margin-bottom: 20px;
		}
		.authorization{
			margin-bottom: 0;
		}
	}
	#nav{
		position: relative;
		.navbar-collapse{
			border-top: none;
			box-shadow: none;
			ul{
				text-align: center;
			}
			a{
				padding: 10px 0;
				margin: 0 20px;
			}
		}
		.navbar{
			.collapse{
				padding: 0 15px;
			}
		}
	}
	.navbar-toggle{
		float: left;
	}
	.serch-form{
		top: 5px;
		right: 10px;
		padding: 0;
		position: absolute;
	}
	.news{
		li{
			height: 160px;
		}
	}
}
@media screen and (max-width: 368px){
	.holder{
		em{
			display: none;
		}
	}
}